{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "bracketSameLine": true,
    "arrowParens": "always",
    "rangeStart": 0,
    "jsxBracketSameLine": false,
    "requirePragma": false,
    "insertPragma": false,
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "preserve",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false,
    "plugins": ["prettier-plugin-go-template", "prettier-plugin-tailwindcss"]
}
